
.page__footer
    .page-footer
        .page-footer__header-bg.color-bg-grid
            .color-bg-grid__item.color-bg-grid__item_orange
            .color-bg-grid__item.color-bg-grid__item_yellow
            .color-bg-grid__item.color-bg-grid__item_blue
            .color-bg-grid__item.color-bg-grid__item_darkblue
        .page-footer__main
            .container
                .footer-info-grid
                    .footer-info-grid__section
                        .footer-info-grid__section-title КОНТАКТНЫЕ ДАННЫЕ
                        ul.footer-info-list
                            li.footer-info-list__item
                                .footer-info-item
                                    img(src='./images/icons/footer-icon1.svg').footer-info-item__icon
                                    .footer-info-item__content Воронеж, ул. Пешестрелецкая д. 74
                            li.footer-info-list__item
                                .footer-info-item
                                    img(src='./images/icons/footer-icon2.svg').footer-info-item__icon
                                    .footer-info-item__content Пн-Пт: 08.00 - 17.00
                            li.footer-info-list__item
                                .footer-info-item
                                    img(src='./images/icons/footer-icon3.svg').footer-info-item__icon
                                    .footer-info-item__content
                                        |   E-mail:
                                        |
                                        a(href='#').footer-info-item__link gor-reklamy@yandex.ru
                    .footer-info-grid__section
                        .footer-info-grid__section-title КОМПЛЕКСНЫЕ УСЛУГИ
                        ul.footer-nav-list
                            li.footer-nav-list__item
                                a(href='#').footer-nav-list__link Интерьерная и широкоформатная печать
                            li.footer-nav-list__item
                                a(href='#').footer-nav-list__link Разработка макетов
                            li.footer-nav-list__item
                                a(href='#').footer-nav-list__link Собственное производство рекламных щитов
                            li.footer-nav-list__item
                                a(href='#').footer-nav-list__link Изготовление рекламных конструкций
                    .footer-info-grid__section
                        .footer-info-grid__section-title ИНФОРМАЦИЯ
                        ul.footer-nav-list
                            li.footer-nav-list__item
                                a(href='#').footer-nav-list__link Требования к макетам
                            li.footer-nav-list__item
                                a(href='#').footer-nav-list__link Политика конфидинциальности
        .page-footer__footer
            .container.page-footer__footer-container
                .page-footer__footer-copy &copy; 2016 ООО "Город Рекламы"
                .page-footer__footer-info ИНН 3662222378
                a(href='#').page-footer__footer-link Host CMS
                a(href='#').page-footer__footer-link Создание сайта

.page__menu.js-page-menu
    button.page__menu-close.js-page-menu-close
    ul.main-nav
        li.main-nav__item.main-nav-item
            a(href='#').main-nav-item__link ГЛАВНАЯ
        li.main-nav__item.main-nav-item
            a(href='#').main-nav-item__link КАРТА
        li.main-nav__item.main-nav-item
            a(href='#').main-nav-item__link РЕКЛАМНЫХ КОНСТРУКЦИЙ
        li.main-nav__item.main-nav-item.js-dropmenu
            a(href='#').main-nav-item__link.js-dropmenu-toggle
                | РЕКЛАМНЫЕ УСЛУГИ
                i.main-nav-item__arrow
            .main-nav-item__dropmenu
                ul.dropmenu-list
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Интерьерная  и широкоформатная печать
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Разработка макетов
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Собственное производство рекламных щитов
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Изготовление рекламных конструкций
        li.main-nav__item.main-nav-item
            a(href='#').main-nav-item__link контакты


.page__overlay.js-popups-overlay.js-close-popups.js-close-menu
.page__popups.popups.js-popups
    .popups__popups-wrapper
        .popups__popup.popups__popup_width_580.form-popup.form-popup_pt_10(data-popup-name='order')
            .form-popup__close.js-close-popups.close
            .form-popup__title Оставьте заявку
            .form-popup__subtitle Получите расчет <br/> стоимcти работ бесплатно
            .form-popup__form.form.form
                .form__section
                    .form__input-title Ваше имя:
                    input(type='text').form__input.st-input
                .form__section
                    .form__input-title Ваш телефон:
                    input(type='text').form__input.st-input
                .form__section
                    .form__input-title Ваш E-mail:
                    input(type='text').form__input.st-input
                .form__section
                    .form__info
                        | Нажимая кнопку, вы принимаете условия
                        |
                        a(href='#').form__info-link «Пользовательского соглашения»
                        |
                        | и даете
                        |
                        a(href='#').form__info-link «Согласие на обработку персональных данных»
                .form__section.form__section_tac
                    a(href='#').button
                        .button__bg
                        .button__content ЗАЯВКА
        .popups__popup.form-popup(data-popup-name='feedback')
            .form-popup__close.js-close-popups.close
            .form-popup__phone.popup-phone
                .popup-phone__text (473) 33-34-35-6
            .form-popup__form.form.form
                .form__section
                    .form__input-title Ваше имя:
                    input(type='text').form__input.st-input
                .form__section
                    .form__input-title Ваш телефон:
                    input(type='text').form__input.st-input
                .form__section
                    .form__input-title Ваш E-mail:
                    input(type='text').form__input.st-input
                .form__section
                    .form__info
                        | Нажимая кнопку, вы принимаете условия
                        |
                        a(href='#').form__info-link «Пользовательского соглашения»
                        |
                        | и даете
                        |
                        a(href='#').form__info-link «Согласие на обработку персональных данных»
                .form__section.form__section_tac
                    a(href='#').button
                        .button__bg
                        .button__content ЗАЯВКА
