

.page-header
    .page-header__top-section
        .container.page-header__top-container
            .page-header__logo
                a(href='#').header-logo
                    img(src='./images/icons/logo.svg').header-logo__img
                    .header-logo__content Размещение наружной рекламы Воронеж и Воронежская область
            .page-header__favorites
                a(href='#').header-favorites
                    .header-favorites__value
                        .header-favorites__value-text 5
                        img(src='./images/icons/star-filled.svg').header-favorites__value-icon
                    .header-favorites__title Избранное
                .page-header__hamburger
                    button.hamburger-button.js-page-menu-open
                        img(src='./images/icons/hamburger.svg').hamburger-button__icon
            .page-header__contacts
                .header-contacts-grid
                    .header-contacts-grid__section
                        p
                            a(href='#').st-phone +7 (473) 277-77-77
                        p
                            a(href='#').st-phone +7 (906) 671-39-57
                    .header-contacts-grid__section
                        nav.header-messengers
                            a(href='#').header-messengers__item
                                img(src='./images/icons/whatsapp.svg').header-messengers__item-icon
                            a(href='#').header-messengers__item
                                img(src='./images/icons/viber.svg').header-messengers__item-icon

    .page-header__bottom-section
        .container
            .page-header__nav
                ul.main-nav
                    li.main-nav__item.main-nav-item
                        a(href='#').main-nav-item__link ГЛАВНАЯ
                    li.main-nav__item.main-nav-item
                        a(href='#').main-nav-item__link КАРТА
                    li.main-nav__item.main-nav-item
                        a(href='#').main-nav-item__link РЕКЛАМНЫХ КОНСТРУКЦИЙ
                    li.main-nav__item.main-nav-item
                        a(href='#').main-nav-item__link
                            | РЕКЛАМНЫЕ УСЛУГИ
                            i.main-nav-item__arrow
                        .main-nav-item__dropmenu
                            ul.dropmenu-list
                                li.dropmenu-list__item
                                    a(href='#').dropmenu-list__link Интерьерная  и широкоформатная печать
                                li.dropmenu-list__item
                                    a(href='#').dropmenu-list__link Разработка макетов
                                li.dropmenu-list__item
                                    a(href='#').dropmenu-list__link Собственное производство рекламных щитов
                                li.dropmenu-list__item
                                    a(href='#').dropmenu-list__link Изготовление рекламных конструкций
                    li.main-nav__item.main-nav-item
                        a(href='#').main-nav-item__link контакты
                    li.main-nav__item.main-nav-item.main-nav-item_dark
                        a(href='#').main-nav-item__link Связаться с менеджером


    .page-header__mobile-border
        .color-bg-grid.color-bg-grid_height_10
            .color-bg-grid__item.color-bg-grid__item_orange
            .color-bg-grid__item.color-bg-grid__item_yellow
            .color-bg-grid__item.color-bg-grid__item_blue
            .color-bg-grid__item.color-bg-grid__item_darkblue